<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.HOME_CSS_URL}bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.HOME_CSS_URL}style.css" />
    <title></title>
</head>
<body>
<!--导航 -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation" id="menu-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="__CONTROLLER__/index">ThaiTravel</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="__CONTROLLER__/index">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">目的地 <span class="caret"></span></a>
                    <ul class="dropdown-menu">


                        <li><a href="__MODULE__/Destination/desinterest">美丽风光</a></li>
                        <li><a href="__MODULE__/Destination/despark">国家公园</a></li>

                    </ul>
                </li>
                <li><a href="__CONTROLLER__/activity">活动</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">概况 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <?php
								if($_SESSION['user_id']){
								 echo	'<li><a href="__MODULE__/Story/storythai">写游记</a></li>';
                        }
                        ; ?>
                        <li><a href="__MODULE__/Story/storylist">我们的故事</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">路线推荐 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="__MODULE__/Route/recommendthai">Thai推荐</a></li>

                    </ul>
                </li>

                <li><a href="FAQ.html">常见问题</a></li>
                <?php
								if($_SESSION['user_id']){
								echo '<li class="dropdown"  >';
                echo '<a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心 <span class="caret"></span></a>';
                echo '<ul class="dropdown-menu">';
                echo	'<li><a href="__MODULE__/Index/edit">个人中心</a></li>';
                echo  '<li><a href="__MODULE__/User/logout">注销登录</a></li>';
                echo '</ul>';
                echo '</li>';
                }else{

                echo '<li><a href="__MODULE__/User/login">登录</a></li>';
                }
                ; ?>
            </ul>
        </div>
    </div>
</div>

<div id="scroll-top">
    <a href="#"></a>
</div>

<footer>
    <p>Copyright &copy;2016.Thai Travel All rights reserved.</p>
</footer>

<script src="{$Think.const.HOME_JS_URL}jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{$Think.const.HOME_JS_URL}style.js" type="text/javascript" charset="utf-8"></script>
<script src="{$Think.const.HOME_JS_URL}bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
