<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}index.css" type="text/css" media="screen">
<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
<script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}jquery.js"></script>
<script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}tendina.min.js"></script>
<script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}common.js"></script>

</head>
<body>
   

        <div class="route_bg">
            <span>&nbsp;活动&nbsp;->&nbsp;活动管理</span>
            <a href="__CONTROLLER__/tianjia" style="float:right;margin:0px 10px 0px 0px;">添加活动</a> &nbsp;&nbsp;
            <!--<form action="" style="float:right;margin-right:600px;">
                <input type="text" /> &nbsp;
                <input type="submit" value="show" />
            </form>-->
        </div>
        
       
 
<table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>id</th>
       <th>活动名称</th>
       <th>价格</th>
         <th>详情</th>

       <th>操作</th>
       <th>操作</th>

     </tr>
   </thead>
   <!--显示出数据库里的相关表-->
   
   <tbody>
   <volist name="res" id="vo">
     <tr>
       <td>{$vo.id}</td>
       <td>{$vo.route_name}</td>
         <td>{$vo.route_price}</td>
       <td>{$vo.route_content}</td>
       <td><a href="__CONTROLLER__/shanchu/id/{$vo.id}" onclick="return confirm('您确定要删除这个栏目吗？')">删除</a></td>
       <td><a href="__CONTROLLER__/xiugai/id/{$vo.id}">更改</a></td>
     </tr>
     </volist>
   </tbody>
   <tr>
   <td colspan="8" style="text-align:center; margin-left:10px;">{$page}</td>
   </tr>

 </table>
    

    <div class="layout_footer"></div>

</body>
</html>