<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}index.css" type="text/css" media="screen">
<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
<script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}jquery.js"></script>
<script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}tendina.min.js"></script>
<script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}common.js"></script>

</head>
<body>
   

        <div class="route_bg">
            <span>&nbsp;用户&nbsp;->&nbsp;用户管理</span>
            
        </div>
        
       
 
<table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>评论id</th>
       <th>用户id</th>
         <th>用户名</th>
       <th>游记id</th>
       <th>评论内容</th>
         <th>时间</th>
       <th>操作</th>


     </tr>
   </thead>
   <!--显示出数据库里的相关表-->
   
   <tbody>
   <volist name="res" id="vo">
     <tr>
       <td>{$vo.id}</td>
       <td>{$vo.user_id}</td>
         <td>{$vo.user_name}</td>


       <td>{$vo.youji_id}</td>
       <td>{$vo.comment}</td>
         <td>{$vo.date}</td>
       <td><a href="__CONTROLLER__/shanchu/id/{$vo.id}" onclick="return confirm('您确定要删除这个栏目吗？')">删除</a></td>
     </tr>
     </volist>
   </tbody>
   <tr>
   <td colspan="8" style="text-align:center; margin-left:10px;">{$page}</td>
   </tr>

 </table>
    

    <div class="layout_footer"></div>

</body>
</html>